body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  width: 1000px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-img {
  width: 60%;
  float: right;
}
.container {
  width: 40%;
  float: left;
}
.logo {
  margin-top: 10%;
  width: 30%;
}

p {
  margin-top: 5%;
}
.title {
  margin-top: 30px;
}
