body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  width: 1000px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-img {
  width: 61%;
  float: right;
  margin-left: 2%;
}
.container {
  width: 35%;
  float: left;
  margin-right: 2%;
}
.logo {
  margin-top: 20%;
  width: 30%;
}

p {
  margin-top: 5%;
  color: grey;
}
.title {
  margin-top: 60px;
  font-size: 13px;
}
