.form {
  margin-top: 10%;
  width: 100%;
  display: inline-block;
}

.form > .form-row {
  width: 100%;
  border: 2px solid #ccc;
}
.form > .form-row:last-child {
  width: 100%;
  margin-bottom: 0;
}
.form > .form-row:first-child {
  border-left: 4px solid blue;
}

.form > .form-row > label {
  width: 100%;
  font-size: 10px;
  color: black;
  font-size: 15px;

  margin-bottom: 0;
}
.form > .form-row > input {
  width: 100%;
  font-size: 10px;
  line-height: 20px;
  border: none;
}
::placeholder {
  color: blue;
  font-size: 13px;
  font-weight: bolder;
}

.form-password {
  font-size: 13px;
}
.form > .form-password > input {
  margin-top: 5px;
}

.form > .form-password > label {
  line-height: 20px;
}
.form > .form-password > a {
  float: right;
  text-decoration: none;
  color: grey;
}

.form > .form-password {
  margin-top: 20px;
  color: grey;
}
.form > .form-button > button {
  border-color: #3751ff;
  width: 100px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #3751ff;
  margin-top: 40px;
  color: white;
}

.form > .form-button > .sign-up {
  background-color: white;
  color: #3751ff;
  margin-left: 15px;
}

.form > .socialmedia {
  margin-top: 70px;
  font-size: 13px;
}

.form > .socialmedia > a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: bolder;
  color: #3751ff;
}

.form > .socialmedia > span {
  color: grey;
}
