.form {
  margin-top: 15%;
  width: 100%;
}

.form > .form-row {
  width: 100%;
  border: 2px solid #ccc;
}
.form > .form-row:last-child {
  width: 100%;
  margin-bottom: 0;
}
.form > .form-row:first-child {
  border-left: 4px solid blue;
}

.form > .form-row > label {
  width: 100%;
  font-size: 13px;
  color: black;
  font-size: 15px;

  margin-bottom: 0;
}
.form > .form-row > input {
  width: 100%;
  font-size: 20px;
  line-height: 2em;
  border: none;
}
::placeholder {
  color: blue;
  font-size: 14;
}

.password > input {
  float: left;
}
.form-link {
  float: right;
  text-decoration: none;
  color: blue;
}

.password {
  margin-top: 15px;
}
button {
  width: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #3751ff;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}

button:last-child {
  background-color: white;
  color: #3751ff;
}

.socialmedia {
  margin-top: 30px;
  float: left;
}
